body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(220, 250, 255);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-App {
  margin: 20px;
}

.cityInput {
  padding: 10px;
  font-size: 2rem;
  font-weight: bold;
  border: 3px solid rgb(62, 62, 171);
  border-radius: 10px;
  margin: 10px;
  width: 250px;
}

button[type='submit'] {
  padding: 10px 20px;
  font-weight: bold;
  font-size: 2rem;
  background-color: rgb(78, 78, 161);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: rgb(41, 39, 159);
}

.card {
  background: linear-gradient(
    180deg,
    hsl(210, 90%, 75%),
    hsl(199, 80%, 70%),
    hsl(46, 80%, 70%)
  );
  padding: 50px;
  box-shadow: 3px 3px 6px hsla(0, 0%, 0%, 0.5);
  border-radius: 5%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 30px;
}

p {
  font-size: 2rem;
  margin: 5px 0;
}

.showCity,
.temperature {
  font-size: 4rem;
  font-weight: bold;
  color: hsla(207, 100%, 17%, 0.932);
  margin-bottom: 30px;
}

.humidity {
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 2 rem;
  color: hsla(207, 100%, 17%, 0.693);
}

.descrDisplay {
  font-style: italic;
  font-weight: bold;
  font-size: 2rem;
}
.weatherEmoji {
  margin: 0;
  font-size: 7.5rem;
}
.errorDisplay {
  font-size: 2.5rem;
  font-weight: bold;
  color: hsla(0, 0%, 0%, 0.75);
}
